/* My custom CSS */

#resume_header {
	z-index: 1;
	position: fixed;
	width: 95%;
	height: auto;
	background-color: #2980b9;
	margin-top: 30px;
	margin-left: 2.5%;
	margin-bottom: 10px;
	border-radius: 10px;
}

.left_resume_header {
	position: relative;
	margin-top: 2.5%;
	float: left;
	width: 60%;
}

.right_resume_header {
	float: right;
	margin-top: 20px;
}

#name {
	text-align: center;
	color: #ffffff;
	font-size: 48px;
	font-family: Montserrat, Times, Calibri, Verdana, sans-serif;
}

#bio {
	color: #fff;
	font-size: 12px;
	text-align: center;
	font-family: Montserrat, Times, Calibri, Verdana, sans-serif;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: normal;

}

#picture_circle {
	border-radius: 100%;
	height: 200px;
	width: 200px;
	margin-right: 25px;
	margin-top: 5%;
	margin-bottom: 5%;
}

#picture_about {
	border-radius: 100%;
	height: 200px;
	width: 200px;
	float: right; 
	margin-right: 25%; 
	margin-top: 5%
}

.right_resume_header #picture {
	position: relative;
	float: right;
	margin-right: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hline_grey{
    height: 1px;
    width: 90%;
    margin: auto;
    content: "";
    background: #7f8c8d;
    margin-bottom: 10px;
}

.hline_grey_full{
    height: 1px;
    width: 100%;
    margin: auto;
    content: "";
    background: #7f8c8d;
    margin-top: -10px;
    margin-bottom: 10px;
}

.hline_light_grey{
    height: 1px;
    width: 90%;
    margin: auto;
    content: "";
    background: #bdc3c7;
    margin-top: -10px;
    margin-bottom: 5px;
}

.left_box {
	position: relative;
	margin-top: 280px;
	height: 1040px;
	margin-left: 2.5%;
	width: 15%;
	float: left;
	background-color: #34495e;
	border-radius: 10px;
	margin-bottom: 10px;
}

.right_box {
	position: relative;
	margin-top: 280px;
	height: auto;
	margin-left: 1.25%;
	width: 78.75%;
	float: left;
	background-color: #95a5a6;
	border-radius: 10px;
	margin-bottom: 10px;
}

.speech_box {
	height: 30px;
	width: 95%;
	margin-left: 2.5%;
	background-color: #bdc3c7;
	margin-bottom: 0px;
}

.triangle-down {
	margin-left: 5%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-top: 20px solid #34495e;
}

#resume_category{
	font-size: 24px;
	line-height: 30px;
	color: #34495e;
	margin-left: 1.25%;
	padding-bottom: 5px;
}

.left_box_inside_right {
	height: auto;
	position: relative;
	float: left;
	margin-left: 2.5%;
	width: 82.5%;
	border-radius: 10px;
	margin-top: -10px;
}

.left_box_inside_right a {
	position: relative;
	margin-left: 40%;
	text-decoration: underline;
}

#resume_item{
	font-size: 18px;
	margin-top: 5px;
	color: #34495e;
	margin-left: 3%;
	padding-bottom: 5px;
	font-weight: normal;
	text-decoration: underline;	
}

#resume_item_subheader{
	margin-top: -12px;
	margin-left: 3%;
	color: #34495e;
	font-weight: normal;
}

#resume_list{
	color: #2d2d2d;
	margin-left: 3%;
	margin-top: -10px;
}

.right_box_inside_right {
	height: auto;
	position: absolute;
	right: 0px;	
	margin-right: 2.5%;
	margin-top: -10px;
	width: 20%;
	border-radius: 10px;
}

#year {
	font-size: 14px;
	color: #34495e;
	text-align: right;
	line-height: 30px;
	margin-right: 10%;
}

#resume_list{
	margin-left: 3%;
	margin-top: -10px;
	color: #2d2d2d;
}

#year_club_list{
	list-style-type: none;
	margin-top: -10px;
	margin-bottom: 0px;
	text-align: right;
	margin-right: 10%;
	color: #34495e;
}


.footer {
	position: relative;
	margin-left: 2.5%;
	height: 90px;
	width: 95%;
	background-color: #2980b9;
	clear: both;
	border-radius: 10px;
}

#resume_header_list {
	padding-top: 5px;
	line-height: 20px;
	text-decoration: none;
	color: #ffffff;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: center;	
	list-style-type: none;
}

#resume_header_list li {
	display: inline;
}

#resume_header_list li a {
	color: #fff;
}

#resume_header_list li a:hover {
	color: #34495e;
}

#resume_header_list a {
	text-decoration: none;
	color: white;
}

#footer_list {
	padding-top: 10px;
	line-height: 20px;
	text-decoration: none;
	color: #ffffff;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;	
	list-style-type: none;
	font-weight: normal;
}

#footer_list li {
	display: inline;
}

#footer_list li a {
	color: #fff;
}

#footer_list li a:hover {
	color: #34495e;
}

#footer_list a {
	text-decoration: none;
	color: white;
}

button {
	background-color: transparent;
	border: none;
	border-radius:5px;
}

.contact_form {
	font-family: sans-serif;	
	font-size: 16px;
	position: relative;
	width: 60%;
	margin: auto;
	margin-top: 100px;
	border-radius: 10px;
}

input {
	width: 100%;
	border-radius: 10px;
}

textarea {
	width: 100%;
	border-radius: 10px;
}

input[type=submit] {
	background-color: #2980b9;
	color: #fff;
	height: 28px;
}

input[type=submit]:hover {
	background-color: #34495e;
}

input[type=text]:focus {
    border: 3px solid #555;
}

#general_header {
	z-index: 1;
	position: fixed;
	width: 95%;
	height: auto;
	background-color: #2980b9;
	margin-top: 30px;
	margin-left: 2.5%;
	margin-bottom: 10px;
	border-radius: 10px;
	color: #fff;
	padding-top: 10px;
	text-align:center;
}

.left_about{
	position: relative;
	margin-top: 120px;
	height: auto;
	margin-left: 10%;
	width: 37.5%;
	float: left;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2px;
}

.right_about{
	position: relative;
	margin-top: 120px;
	height: auto;
	margin-left: 5%;
	width: 37.5%;
	float: left;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

.blog {
	margin-top: 120px;
	margin-left: 15%;
	margin-right: 15%;
}

.blog_picture_1 {
	position: relative;
	height: auto;
	margin-left: 5%;
	width: auto;
	float: left;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 0px;
}

#picture_square {
	height: 200px;
	width: 200px;
}

#picture_big_square {
	height: 300px;
	width: 300px;
}

#picture_rectangle {
	height: 200px;
	width: 300px;
}

#picture_vertical_rectangle {
	height: 200px;
	width: 150px;
}

#picture_wide_rectangle {
	height: 200px;
	width: 400px;
}

#picture_big_vertical_rectangle {
	height: 300px;
	width: 225px;
}

.blog_picture_2 {
	position: relative;
	height: auto;
	margin-left: 7.5%;
	float: left;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.blog_picture_3 {
	position: relative;
	height: auto;
	margin-left: 7.5%;
	float: left;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
}